* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: black;
	overflow: hidden;
}

/* TODO: REMOVE */
.debug {
	outline: red solid 2px !important;
}

.hidden {
	color: transparent;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
}

.disabled {
	pointer-events: none;
	display: none;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 10vh;
	width: 100%;
	min-width: 0;
}

.invisButton {
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 10;
	width: 10rem;
	height: 2rem;
}

#gameOverSelectionContainer {
	z-index: 10;

	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -80%);
}

#canvas1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: 5px solid white;
	max-width: 100%;
	max-height: 100%;
}
#playerImage,
#backgroundImage,
#background2Image,
#enemyImage,
#geldImage,
#steuerungbackground {
	display: none;
	max-width: 100%;
	max-height: 100%;
}

#steueranleitung,
#steueranleitunghandy,
#startscreenhintergrund {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	outline: 5px solid white;
	max-width: 100%;
	max-height: 100%;

	/*  justify-content: center;   
    align-items: center; */
}
#gameend {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}
#storenbild {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}
#highscoreLinkButton {
	z-index: 10;
	margin: 1rem;
	margin-right: auto;
}
#highscoreLinkButtonImage {
	z-index: 10;
	width: 100%;
	height: 100%;

	max-width: 100%;
	max-height: 100%;
}

#spenden2 {
	background-color: transparent;
	display: none;
	outline: none;
	border: none;
	position: absolute;
	top: 58%;
	left: 58%;
	width: 210px;
	height: 120px;

	transform: translate(-58%, -58%);
	max-width: 100%;
	max-height: 100%;
}
#restartbild {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	max-width: 100%;
	max-height: 100%;
}
#playerImage {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	max-width: 100%;
	max-height: 100%;
}
#playerImage2 {
	display: none;
	position: absolute;
	top: 50%;
	left: 70%;

	transform: translate(-50%, -50%);

	max-width: 100%;
	max-height: 100%;
}
#soundbutton {
	display: none;
	background-color: transparent;

	position: fixed;
	top: 16%;
	left: 84%;
	transform: translate(-16%, -84%);
	max-width: 100%;
	max-height: 100%;
}
#restart,
#spenden {
	margin: 1rem;
	max-width: 100%;
	max-height: 100%;

	display: none;
}
#startButton {
	z-index: 99;
	background-color: transparent;
	border: none;
	color: rgb(187, 29, 29);
	position: absolute;
	width: 100vw;
	height: 70vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/*  height: 80px;
    width: 178px; */
	max-width: 100%;
	max-height: 100%;
}
#weiterspielen {
	background-color: transparent;
	border: none;
	color: rgb(187, 29, 29);
	position: absolute;
	width: 218px;
	height: 120px;
	top: 57%;
	left: 43%;
	transform: translate(-57%, -43%);
	max-width: 100%;
	max-height: 100%;
}

#inputContainer {
	z-index: 10;
	display: none;

	position: absolute;
	top: 50%;
}

#nameInput {
	font-family: 'CustomFont3';
	margin: 1rem;
	margin-left: auto;
	border-color: #c2c2c2;
	border-style: outset;
	border-width: 3px;
	background-color: #b3b3b3;
	max-width: 10rem;
	min-width: 0;
	font-size: 1.5rem;
}

#nameSubmit {
	margin: 1rem;
	border: none;
	font-family: 'CustomFont3';
	outline: #000000;
	width: 10rem;
	height: 2rem;
}

#copyButton {
	background-color: #867ade;
	display: none;
	outline: #000000;
	border: #000000;
	z-index: 10;
	font-family: 'CustomFont3';
	width: 10rem;
	height: 2rem;

	z-index: 10;

	flex-direction: column;
	align-items: center;

	position: absolute;
	top: 70%;
	left: 70%;

	transform: translate(-50%, -70%);
}
#nameInput:focus {
	outline: none;
}

#starthintergrund {
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width: 1300px;
    height: 620px; */
	max-width: 100%;
	max-height: 100%;
}

#starthighscore {
	position: absolute;
	font-family: 'CustomFont3';

	top: 65%;
	left: 75%;
	z-index: 1;
	color: rgb(255, 255, 255);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	font-size: 2rem;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
}

@media (max-height: 800px) {
	body {
		flex-direction: column;
	}
	#startscreenhintergrund {
		flex-direction: column;
	}

	#gameOverSelectionContainer {
		top: 80%;
	}
}
@media (max-width: 600px) {
	#spenden {
		padding: 8px 16px;
		font-size: 14px;
	}
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
	#spenden {
		padding: 6px 12px;
		font-size: 12px;
	}
}

/* @media all and (max-width:30em){
	 #spenden{
	margin:0.4em auto;
	 } 
} */

.blink {
	animation: blink-animation 1 infinite alternate ease-in;
	-webkit-animation: blink-animation 1s infinite alternate ease-in;
}

@keyframes blink-animation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes blink-animation {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
